@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Butler";
    src: url("./Butler/Butler-Free-Blk.otf") format("opentype");
}

@font-face {
    font-family: "Butler Stencil";
    src: url("./Butler Stencil/Butler-Free-Blk-St.otf") format("opentype");
}
@font-face {
    font-family: "Palfour";
    src: url("./Palfour/Palfour.otf") format("opentype");
}